<section class="mt-3">
  <div class="container py-4">
    <h1 class="primary text-center">Editing Doctor</h1>

    <form [formGroup]="form" (ngSubmit)="updateData()">
      <div class="row mt-4 justify-content-center">
        <div class="col-md-6">
          <div class="mb-5 text-center">
            <label for="fileInput" class="position-relative">
              <input
                #openFileInput
                type="file"
                id="fileInput"
                (change)="selectProfilePicture($event)"
                accept="image/*"
                class="visually-hidden"
              />

              <img
                [src]="
                  this.form.get('profilePictureBase64')?.value != ''
                    ? 'data:image/png;base64,' +
                      this.form.get('profilePictureBase64')?.value
                    : 'assets/default-avatar.jpg'
                "
                alt="Doctor Profile"
                class="rounded-circle"
                width="150"
                height="150"
              />

              <button
                mat-mini-fab
                type="button"
                color="primary"
                class="choose-image-button"
                (click)="openFileInput.click()"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </label>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12">
              <mat-label>Name</mat-label>
              <input
                matInput
                type="text"
                id="name"
                class=""
                formControlName="name"
                [ngClass]="invalidField('name') ? 'is-invalid' : ''"
                placeholder="Enter Name"
              />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12">
              <mat-label>CRM</mat-label>
              <input
                matInput
                formControlName="crm"
                required
                id="crm"
                placeholder="Enter CRM"
                [ngClass]="invalidField('crm') ? 'is-invalid' : ''"
                [mask]="crmMask"
              />
              <mat-icon matSuffix>code</mat-icon>
            </mat-form-field>
          </div>

          <div class="text-center">
            <app-button-floating
              *ngIf="breakpointService.isHandset$ | async"
              [tipo]="'submit'"
              [nome]="'Insert'"
              [icone]="'edit'"
              ><app-button-floating
                *ngIf="breakpointService.isHandset$ | async"
                [rota]="'/doctor/list'"
                [nome]="'Back'"
                [color]="'accent'"
                [icone]="'home'"
                [multi]="true"
              ></app-button-floating
            ></app-button-floating>
            <button
              *ngIf="!(breakpointService.isHandset$ | async)"
              mat-fab
              extended
              type="submit"
              color="primary"
            >
              <mat-icon>edit</mat-icon> Edit Doctor
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
