<section>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="container mt-5">
    <h1 class="primary">Activity List</h1>
    <div class="d-flex justify-content-between align-items-center">
      <button
        *ngIf="!(breakpointService.isHandset$ | async)"
        routerLink="/activity/add"
        mat-fab
        extended
        color="primary"
        class=""
      >
        <mat-icon>add_circle_outline</mat-icon> New Activity
      </button>
      <app-button-floating
        *ngIf="breakpointService.isHandset$ | async"
        [nome]="'New Activity'"
        [icone]="'add'"
        [rota]="'/activity/add'"
      ></app-button-floating>
    </div>

    <div class="row mt-4">
      <div
        *ngFor="let activity of data"
        class="col-lg-3 col-md-4 col-sm-12 col-12 mb-4"
      >
        <app-card-activity
          *ngIf="!isLoading"
          [activity]="activity"
        ></app-card-activity>
      </div>
    </div>
  </div>
</section>
