<div class="container show-none my-4">
  <mat-card class="mat-elevation-z5 p-2">
    <mat-card-header class="justify-content-center py-1">
      <mat-card-title class="primary fs-1 mb-2"
        >Activity Details</mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="text-center">
      <p class="card-text">
        <span class="accent fw-medium">{{
          activity.activityType == 0 ? "Appointment" : "Surgery"
        }}</span>
      </p>
      <p class="card-text">
        <span class="primary fw-medium">Title:</span> {{ activity.title }}
      </p>
      <p class="card-text">
        <span class="primary fw-medium">Date:</span>
        {{ activity.date | date : "dd/MM/yyyy" }}
      </p>
      <p class="card-text">
        <span class="primary fw-medium">Start Time:</span>
        {{ activity.startTime.substring(0, 5) }}
      </p>
      <p class="card-text">
        <span class="primary fw-medium">End Time:</span>
        {{ activity.endTime.substring(0, 5) }}
      </p>
      <p class="card-text">
        <span class="primary fw-medium">Doctors:</span>
        {{ doctors.length }}
      </p>
    </mat-card-content>
    <mat-card-title class="container my-3 ms-2 fs-2 accent"
      >Doctors</mat-card-title
    >
    <div class="container d-flex flex-row gap-3">
      <div
        *ngFor="let doctor of doctors"
        class="col-lg-3 col-md-4 col-sm-12 col-12 mb-4"
      >
        <mat-card
          appCardHover
          class="mb-4 h-100 rounded mat-elevation-z3 p-0"
          [routerLink]="['/doctor/details', doctor.id]"
        >
          <mat-card-header>
            <div mat-card-avatar>
              <img
                class="img-fluid rounded-circle mt-2"
                [src]="
                  doctor.profilePictureBase64 != ''
                    ? 'data:image/png;base64,' + doctor.profilePictureBase64
                    : 'assets/default-avatar.jpg'
                "
                mat-card-image
                alt="Doctor Profile"
              />
            </div>
            <mat-card-title class="mt-3">{{ doctor.name }}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </mat-card>
  <app-button-floating
    [rota]="'/doctor/list'"
    [nome]="'Back'"
    [color]="'accent'"
    [icone]="'home'"
  ></app-button-floating>
</div>
