<div class="container show-none my-4">
  <mat-card class="mat-elevation-z5 p-2">
    <mat-card-header class="justify-content-center py-1">
      <mat-card-title class="primary fs-1 mb-2"
        >Activity Details</mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="text-center">
      <p class="card-text">
        <span class="accent fw-medium">{{
          activity.activityType == 0 ? "Appointment" : "Surgery"
        }}</span>
      </p>
      <p class="card-text">
        <span class="primary fw-medium">Title:</span> {{ activity.title }}
      </p>
      <p class="card-text">
        <span class="primary fw-medium">Date:</span>
        {{ activity.date | date : "dd/MM/yyyy" }}
      </p>
      <p class="card-text">
        <span class="primary fw-medium">Start Time:</span>
        {{ activity.startTime.substring(0, 5) }}
      </p>
      <p class="card-text">
        <span class="primary fw-medium">End Time:</span>
        {{ activity.endTime.substring(0, 5) }}
      </p>
      <p class="card-text">
        <span class="primary fw-medium">Doctors:</span>
        {{ doctors.length }}
      </p>
    </mat-card-content>
    <mat-card-title class="container my-3 ms-2 fs-2 accent"
      >Doctors</mat-card-title
    >
    <div class="row m-3">
      <div
        *ngFor="let doctor of doctors"
        class="col-lg-3 col-md-4 col-sm-8 col-12 mb-4"
      >
        <mat-card
          appCardHover
          class="mb-2 h-100 rounded mat-elevation-z3 p-3"
          [routerLink]="['/doctor/details', doctor.id]"
        >
          <div class="d-flex flex-column gap-3 align-items-center">
            <img
              class="rounded-circle mt-3"
              [src]="
                doctor.profilePictureBase64 != '' &&
                doctor.profilePictureBase64 != null
                  ? 'data:image/png;base64,' + doctor.profilePictureBase64
                  : 'assets/default-avatar.jpg'
              "
              mat-card-image
              width="125"
              height="125"
              alt="Doctor Profile"
            />
            <mat-card-title class="mt-1 fs-4">{{ doctor.name }}</mat-card-title>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
  <app-button-floating
    [rota]="'/doctor/list'"
    [nome]="'Back'"
    [color]="'accent'"
    [icone]="'home'"
  ></app-button-floating>
</div>
