@use "@angular/material" as mat;

@include mat.core();

$e-agenda-web-primary-dark: mat.define-palette(mat.$orange-palette, A100, A400);
$e-agenda-web-accent-dark: mat.define-palette(
  mat.$light-green-palette,
  A700,
  A400,
  A200
);
$e-agenda-web-warn-dark: mat.define-palette(mat.$red-palette, 200, 400);
$e-agenda-web-theme-color-dark: mat.define-palette(
  mat.$blue-grey-palette,
  900,
  A700
);

$e-agenda-web-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $e-agenda-web-primary-dark,
      accent: $e-agenda-web-accent-dark,
      warn: $e-agenda-web-warn-dark,
      surface: #feffff,
      theme-color: $e-agenda-web-theme-color-dark,
    ),
  )
);

$e-agenda-web-primary-light: mat.define-palette(mat.$deep-purple-palette);
$e-agenda-web-accent-light: mat.define-palette(mat.$pink-palette);
$e-agenda-web-warn-light: mat.define-palette(mat.$red-palette);
$e-agenda-web-theme-color-light: mat.define-palette(
  mat.$grey-palette,
  900,
  A700
);

$e-agenda-web-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $e-agenda-web-primary-light,
      accent: $e-agenda-web-accent-light,
      warn: $e-agenda-web-warn-light,
      surface: #feffff,
      theme-color: $e-agenda-web-theme-color-light,
    ),
  )
);

.light-theme {
  @include mat.all-component-themes($e-agenda-web-theme-light);

  .primary {
    color: #6b38fb;
  }

  .primary-alternative {
    color: #ffffff;
  }

  .accent {
    color: #ff49ed;
  }

  .warn {
    color: rgb(230, 0, 0);
  }

  .surface {
    color: #feffff !important;
  }

  .theme-color {
    color: black !important;
  }

  .bg-primary {
    background: #6b38fb !important;
  }

  .bg-theme-color {
    opacity: 1 !important;
    background: rgb(0, 0, 0, 1) 00 !important;
  }

  .bg-theme-color-secondary {
    opacity: 1 !important;
    background: #6d2bc2 !important;
  }

  .radial-background {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(212, 213, 255, 0.85) 100%
    );
  }

  .ag-offer_item:nth-child(1) .ag-offer_hidden-item {
    background-color: #6b38fb;
  }
  .ag-offer_item:nth-child(2) .ag-offer_hidden-item {
    background-color: #d33dc4;
  }
}

.dark-theme {
  @include mat.all-component-themes($e-agenda-web-theme-dark);

  .primary {
    color: #e0a030;
  }

  .primary-alternative {
    color: #e0a030;
  }

  .accent {
    color: #30e048;
  }

  .warn {
    color: rgb(255, 78, 78);
  }

  .surface {
    color: #3f3f3f !important;
  }

  .theme-color {
    color: white !important;
  }

  .bg-primary {
    background: #e0a030 !important;
  }

  .bg-theme-color {
    opacity: 1 !important;
    background: rgb(255, 255, 255, 1) !important;
  }

  .bg-theme-color-secondary {
    opacity: 1 !important;
    background: rgb(0, 0, 0, 1) 00 !important;
  }

  .radial-background {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 100%
    );
  }

  .ag-offer_item:nth-child(1) .ag-offer_hidden-item {
    background-color: #e0a030;
  }
  .ag-offer_item:nth-child(2) .ag-offer_hidden-item {
    background-color: #28ad39;
  }

  .bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }
}

@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html:has(.dark-theme) {
  .mat-mdc-card {
    --mdc-elevated-card-container-color: #4c4c4cd9;
  }
  .mat-mdc-slide-toggle {
    --mdc-switch-unselected-handle-color: #e0a030;
    --mdc-switch-unselected-focus-handle-color: #e0a030;
    --mdc-switch-unselected-hover-handle-color: #e0a030;
    --mdc-switch-unselected-focus-track-color: #d0993a;
    --mdc-switch-unselected-track-color: #d0993a;
    --mdc-switch-unselected-pressed-track-color: #be8c36;
    --mdc-switch-unselected-hover-track-color: #eda932;
  }
  --mdc-elevated-card-container-color: #4c4c4cd9;
  --mdc-outlined-card-container-color: #424242;
  --mat-select-panel-background-color: #424242;
  --mat-autocomplete-background-color: #424242;
  --mdc-dialog-container-color: #424242;
  --mat-menu-container-color: #424242;
  --mat-paginator-container-background-color: #424242;
  --mdc-filled-button-container-color: #424242;
  --mdc-protected-button-container-color: #424242;
  --mdc-fab-container-color: #424242;
  --mat-table-background-color: #424242;
  --mat-bottom-sheet-container-background-color: #424242;
  --mat-legacy-button-toggle-disabled-selected-state-background-color: #424242;
  --mat-standard-button-toggle-background-color: #424242;
  --mat-standard-button-toggle-disabled-state-background-color: #424242;
  --mat-standard-button-toggle-disabled-selected-state-background-color: #424242;
  --mat-datepicker-calendar-container-background-color: #424242;
  --mat-expansion-container-background-color: #424242;
  --mat-stepper-container-color: #424242;
}

html:has(.dark-theme) {
  --mat-datepicker-calendar-date-selected-state-text-color: white;
  --mat-datepicker-calendar-date-selected-state-background-color: #ad7a21;
  --mat-datepicker-calendar-date-selected-disabled-state-background-color: #927749;
  --mat-datepicker-calendar-date-today-selected-state-outline-color: white;
  --mat-datepicker-calendar-date-focus-state-background-color: #927749;
  --mat-datepicker-calendar-date-hover-state-background-color: #927749;
  --mat-datepicker-toggle-active-state-icon-color: #ad7a21;
  --mat-datepicker-calendar-date-in-range-state-background-color: #927749;
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color: #f9ab0033;
  --mat-datepicker-calendar-date-text-color: white;
  --mat-datepicker-calendar-date-outline-color: transparent;
  --mat-datepicker-calendar-date-disabled-state-text-color: #ffffff80;
  --mat-datepicker-calendar-date-preview-state-outline-color: #ffffff3d;
  --mat-datepicker-range-input-separator-color: white;
  --mat-datepicker-range-input-disabled-state-separator-color: #ffffff80;
  --mat-datepicker-range-input-disabled-state-text-color: #ffffff80;
  --mat-datepicker-calendar-container-text-color: white;
}

html:has(.light-theme) {
  .mat-mdc-card {
    --mdc-elevated-card-container-color: #ecececd9;
  }

  mat-toolbar > .mat-mdc-icon-button {
    --mdc-icon-button-icon-color: #ffffff;
  }

  --mdc-elevated-card-container-color: #ecececd9;
  --mdc-outlined-card-container-color: #ffffff;
  --mat-select-panel-background-color: #ffffff;
  --mat-autocomplete-background-color: #ffffff;
  --mdc-dialog-container-color: #ffffff;
  --mat-menu-container-color: #ffffff;
  --mat-paginator-container-background-color: #ffffff;
  --mdc-filled-button-container-color: #ffffff;
  --mdc-protected-button-container-color: #ffffff;
  --mdc-fab-container-color: #ffffff;
  --mat-table-background-color: #ffffff;
  --mat-bottom-sheet-container-background-color: #ffffff;
  --mat-legacy-button-toggle-disabled-selected-state-background-color: #ffffff;
  --mat-standard-button-toggle-background-color: #ffffff;
  --mat-standard-button-toggle-disabled-state-background-color: #ffffff;
  --mat-standard-button-toggle-disabled-selected-state-background-color: #ffffff;
  --mat-expansion-container-background-color: #ffffff;
  --mat-stepper-container-color: #ffffff;
}

html:has(.light-theme) {
  --mat-datepicker-calendar-date-selected-state-text-color: #424242;
  --mat-datepicker-calendar-date-selected-state-background-color: #926bff;
  --mat-datepicker-calendar-date-selected-disabled-state-background-color: #8b73b6;
  --mat-datepicker-calendar-date-today-selected-state-outline-color: #424242;
  --mat-datepicker-calendar-date-focus-state-background-color: #8b73b6;
  --mat-datepicker-calendar-date-hover-state-background-color: #8b73b6;
  --mat-datepicker-toggle-active-state-icon-color: #926bff;
  --mat-datepicker-calendar-date-in-range-state-background-color: #8b73b6;
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color: #f9ab0033;
  --mat-datepicker-calendar-date-text-color: #424242;
  --mat-datepicker-calendar-date-outline-color: transparent;
  --mat-datepicker-calendar-date-disabled-state-text-color: #ffffff80;
  --mat-datepicker-calendar-date-preview-state-outline-color: #ffffff3d;
  --mat-datepicker-range-input-separator-color: #424242;
  --mat-datepicker-range-input-disabled-state-separator-color: #ffffff80;
  --mat-datepicker-range-input-disabled-state-text-color: #ffffff80;
  --mat-datepicker-calendar-container-background-color: white;
  --mat-datepicker-calendar-container-text-color: #424242;
}

body:has(.dark-theme) {
  background-color: #303030 !important;
  background: #303030 !important;
  color: #fff !important;
}

body:has(.light-theme) {
  background-color: #fafafa !important;
  background: #fafafa !important;
  color: #000000 !important;
}
